@model IEnumerable<building_materials.Models.CaracteristiqueEnvironnementale>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmissionCO2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PollutionEau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PollutionAir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsommationEau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniteFonctionnelle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtilisationNetteEauDouce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materiau)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmissionCO2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PollutionEau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PollutionAir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsommationEau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniteFonctionnelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtilisationNetteEauDouce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materiau.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCaract">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCaract">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCaract">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
