@model IEnumerable<building_materials.Models.Materiau>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Famille)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provenance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producteur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Famille.NomFamille)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provenance.Pays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producteur.LieuProduction)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMateriau">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMateriau">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMateriau">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
